* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Carter One', cursive;
    font-size: 16px;
    background-color: #EBD494;
}

button {
    border-radius: 5px;
    background-color: #9AD2CB;
    color: #472836;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

button:active {
    background-color: black;
    opacity: 0.7;
}

form {}

.main {
    margin: 0 auto;
    max-width: 960px;
}

.main-calculadora {
    border: 2px solid #472836;
    width: 100%;
    text-align: center;
    padding: 20px;
    padding-bottom: 50px;
    margin-top: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.container-calculador {
    display: flex;
    justify-content: center;
    border: 2px solid white;
    width: 30%;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
    background-color: black;
}

.c-titulo {
    align-items: center;
    color: white;
}

.input {
    width: 80%;
    background: transparent;
    outline: none;
    border: 3px solid white;
    text-align: right;
    padding: 20px 10px 10px 0px;
    color: white;
}

.container-numsim {
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-bottom: 30px;
}

.container-numeros {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 63%;
}

.container-simbolos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 8px;
    width: 20%;
}

#btn-ac {
    background-color: red;
}

.btn-cal {
    padding: 15px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #D2D2D2;
}

.btn-sin {
    padding: 15px;
    margin-top: 10px;
    background-color: orange;
    color: #472836;
}

.main-tareas {
    border: 2px solid #472836;
    width: 100%;
    text-align: center;
    padding: 20px;
    padding-bottom: 50px;
    margin-top: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    margin-bottom: 40px;
}

form .tarea {
    border: none;
    border-bottom: 2px solid #472836;
    margin-right: 30px;
    outline: none;
    background-color: transparent;
}

form input:hover {}

.container {
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.list ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.rayar {
    text-decoration: line-through;
}

#btn-borrar {
    background-color: red;
}

.completar {
    color: #472836;
    border: none;
    background-color: transparent;
    outline: none;
}

.list li {
    margin-left: 20px;
}