* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {}

.main {
    margin: 0 auto;
    width: 960px;
    border: 1px solid red;
    padding: 20px;
    text-align: center;
}

form input {
    border: none;
    border-bottom: 1px solid black;
    margin-right: 30px;
    outline: none;
}

form input:hover {}